# Database
DATABASE_URL="postgresql://username:password@localhost:5432/crm_db"

# For SQLite (development)
# DATABASE_URL="file:./dev.db"

# JWT Authentication
JWT_SECRET=your-super-secret-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Server
PORT=4000
NODE_ENV=development

# Logging
LOG_LEVEL=info

PULSE_API_KEY="your_pulse_api_key"
CLIENT_URL="http://localhost:3000"

# mailer
SMTP_PASS = "your-app-pass"
SMTP_MAIL = "yourmail@gmail.com"
SMTP_SERVICE = "gmail"
